[Unit]
Description=FAAS WSL Reverse Tunnel with Auto Certificate Renewal
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=bitresearch
EnvironmentFile=/etc/faas_register_tunnel.env
ExecStart=/usr/local/sbin/faas_register_tunnel.sh

Restart=always
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
